
<%= form_for(@task, :remote => true) do |f| %> 
<div style="background-color:#fff;">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
